<template>
	<div>
		<text>Title: {{ title }}</text>
		<text>Description: {{ description }}</text>
		<text>Status: {{ taskStatus }}</text>
		<text>Deadline: {{ deadline }}</text>
	</div>
</template>

<script>
  import store from './store.js'
  export default {
    name: 'home',
    computed: {
      title: {
        get: function() {
          return store.state.title
        }
      },
      description: {
        get: function() {
          return store.state.description
        }
      },
      taskStatus: {
        get: function() {
          return store.state.taskStatus
        }
      },
      deadline: {
        get: function() {
          return store.state.deadline
        }
      }
    }
  }
</script>
