<template>
	<div>
		<login v-if="!isLogged"></login>
		<home v-else></home>
	</div>
</template>

<script>
        import store from './store.js'
	export default {
          components: {
            login: require('./login.vue'),
            home: require('./home.vue')
          },
          computed: {
            isLogged() {
              return store.state.isLogged
            }
          }
	}
</script>
