<template>
	<div>
		<text class="text">Username</text>
		<input type="text" placeholder="Username" v-model="username" class="input" />
		<text class="text">Password</text>
		<input type="password" placeholder="Password" v-model="password" class="input" />
		<text class="button" @click="login">Log In</text>
		<text>{{message}}</text>
	</div>
</template>

<script>
        import store from './store.js'
        var storage = weex.requireModule('storage')
	var stream = weex.requireModule('stream')
        var navigator = weex.requireModule('navigator')
	export default {
          name: 'login',
	  data () {
            return {
	      username: '',
	      password: '',
              message: '',
              token: ''
            }
	  },
	  methods: {
	    processRequest: function (response) {
	        if (response.status === 200) {
                  storage.setItem('token', response.data.token, event => {
                    this.message = 'Cookies set'
                  })
                  storage.getItem('token', event => {
                    this.message = event.data
                    this.token = event.data
                  })
                  storage.setItem('isLogged', true, event => {
                    this.message = 'Logged In'
                    store.commit('login')
                    this.requestUserDetails(event)
                  })
	        } else {
	          this.message = 'Invalid username or password.'
	        }
	        this.username = ''
	        this.password = ''
	    },
	    login: function () {
              return stream.fetch({
                method: 'POST',
                type: 'json',
                url: 'http://192.168.0.162/api-token-auth/',
                body: 'username='+this.username+'&password='+this.password
              }, res => {
                this.processRequest(res)
              })
	    },
	    requestUserDetails: function (response) {
	      return stream.fetch({
                method: 'GET',
                type: 'json',
                url: 'http://192.168.0.162/todo/',
                headers: {
                  'Authorization': 'Token ' + this.token
                }
              }, res => {
                this.displayUserDetails(res)
              })
	    },
	    displayUserDetails: function (response) {
              if (response.status === 200){
                store.commit('setTitle', {
                  title: response.data[0].title
                }),
                store.commit('setDescription', {
                  description: response.data[0].description
                }),
                store.commit('setStatus', {
                  taskStatus: response.data[0].status
                }),
                store.commit('setDeadline', {
                  deadline: response.data[0].deadline
                })
              }
            }
	  }
	}
</script>

<style scoped>
	.input{
		font-size: 60px;
		height: 80px;
		width: 750px;
	}
	.text{
		margin-top:10;
		height:80;
		padding:20;
	}
	.button{
		font-size: 36;
		width: 200;
		color: #41B883;
		text-align: center;
		padding-top: 10;
		padding-bottom: 10;
		border-width: 2;
		border-style: solid;
		margin-right: 20;
		border-color: rgb(162, 217, 192);
		background-color: rgba(162, 217, 192, 0.2)
	}
</style>
